---
import Breadcrumbs from "@/components/Breadcrumbs.astro"
import PageHead from "@/components/PageHead.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import { Separator } from "@/components/ui/separator"
import { TOOLS_ICON_MAP } from "@/consts"
import Layout from "@/layouts/Layout.astro"
import {
	getAllProjects,
	getProjectsByTool,
	sortProjects,
} from "@/lib/data-utils"
import { Icon } from "astro-icon/components"

export async function getStaticPaths() {
	const allProjects = await getAllProjects()
	const projectsByTool = getProjectsByTool(allProjects)
	const tools = Object.keys(projectsByTool)

	return tools.map((tool) => ({
		params: { tool },
	}))
}

const { tool } = Astro.params
const allProjects = await getAllProjects()
const projectsByTool = getProjectsByTool(allProjects)
const projects = projectsByTool[tool || ""] || []
const pinnedProjects = sortProjects(projects, true)
const unpinnedProjects = sortProjects(projects, false)
---

<Layout>
	<PageHead
		slot="head"
		title={`Projects using ${tool}`}
		description={`A collection of projects using ${tool}.`}
	/>
	<Breadcrumbs
		items={[
			{
				label: "Portfolio",
				href: "/portfolio",
				icon: "lucide:gallery-vertical-end",
			},
			{
				label: tool,
				icon: TOOLS_ICON_MAP[tool] || `lucide:wrench`,
			},
		]}
	/>

	<div class="mt-8 mb-4 flex flex-wrap items-center gap-2">
		<h2 class="text-3xl">Projects using</h2>
		<span
			class="bg-secondary flex items-center gap-x-1 rounded-full px-4 py-2 text-2xl"
		>
			<Icon
				name={TOOLS_ICON_MAP[tool] || `lucide:wrench`}
				class="size-6 -translate-x-0.5"
			/>{tool}
		</span>
	</div>

	<div class="flex flex-col gap-4">
		{
			pinnedProjects.length > 0 &&
				pinnedProjects.map((project) => (
					<div>
						<ProjectCard project={project} />
					</div>
				))
		}
		{pinnedProjects.length > 0 && unpinnedProjects.length > 0 && <Separator />}
		{
			unpinnedProjects.length > 0 &&
				unpinnedProjects.map((project) => (
					<div>
						<ProjectCard project={project} />
					</div>
				))
		}
	</div>
</Layout>
